<div>
    <form class="form-horizontal">

        <div class="form-group">
            <label for="inputRoom" class="col-sm-2 control-label">Room</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputRoom" placeholder="room name" v-model=room.name>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress" class="col-sm-2 control-label">NodeAddress</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputAddress" placeholder="address" v-model=room.nodeAddress>
            </div>
        </div>
        <div class="form-group">
            <label for="inputCondition" class="col-sm-2 control-label">Conditioner</label>
            <div class="col-sm-10">
                <select v-model='room.airCondition' class="form-control">
                    <option>Daikin</option>
                    <option>Toshiba</option>
                    <option>n.a.</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" @click='addRoom'>Add</button>
                <button type="button" class="btn btn-default" @click='updateRoom'>Update</button>
                <button type="button" class="btn btn-default" @click='deleteRoom'>Delete</button>

            </div>
        </div>
    </form>

    <table class='table'>
        <thead>
            <tr>
                <th v-for="column in columns" @click='bindingSource.sortBy(column.name)'>


                    <!--<span style='display: block; text-align: center'  v-if="bindingSource.sortColumn===column.name" class="glyphicon" :class="bindingSource.sortOrder[column.name]>0 ?'glyphicon-sort-by-attributes':'glyphicon-sort-by-attributes-alt'"></span>-->

                    <span> {{column.header}}{{ bindingSource.sortColumn===column.name? bindingSource.sortOrder[column.name]<0 ?'&#9663':'&#9653':''}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in  paginator.dataItems" :class="row === bindingSource.current?'active':''">
                <td v-for="column in columns" @click="bindingSource.current=row">
                    {{row[column.name]}}
                </td>
            </tr>
            <tr v-for="n in paginator.pageSize-paginator.dataItems.length">
                <td v-for="column in columns">
                    &nbsp
                </td>
            </tr>
        </tbody>
    </table>

    <paginator :paginator="paginator"></paginator>
    <v-dialog :dialog ="dialog"></v-dialog>
    
    <!--<paginator :count-pages='pager.pageCount' :current-page='pager.currentPage' v-on:prev="pager.prevPage()" v-on:next="pager.nextPage()" v-on:page="pager.page($event)"></paginator>
  -->
</div>