<div>
    <form class="form-horizontal">


        <div class="form-group">
            <label for="inputRoom" class="col-sm-2 control-label">Room</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <select v-model='room' class="form-control"> 
                    <option v-for="room in bindingSource.dataItems" v-bind:value="room">
                            {{ room.Name }}
                    </option>
                </select>
                    <label class="input-group-addon">{{room.Temperature}}</label>
                    <span class="input-group-addon">&#8451</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputTemp" class="col-sm-2 control-label">Temperature</label>
            <div class="col-sm-2">
                <div class="input-group">
                    <input v-model='temperature' type="number" min="16" max="30" class="form-control" id="inputTemp">
                    <span class="input-group-addon">&#8451</span>
                </div>
            </div>
        </div>


        <div class="form-group">

            <div class="col-sm-offset-2">
                <div class="btn-group addon-form-group">

                    <label class="btn btn-default" v-bind:class="{ active:mode==0}">
                                        <input type="radio"  autocomplete="off"  v-model="mode" value="0">Off 
                                    </label>
                    <label class="btn btn-default" v-bind:class="{ active:mode==1}">
                                        <input type="radio"  autocomplete="off"  v-model="mode" value="1">Heat
                                    </label>
                    <label class="btn btn-default" v-bind:class="{ active:mode==2}">
                                        <input type="radio"  autocomplete="off"  v-model="mode" value="2" >Cool
                                    </label>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputFan" class="col-sm-2 control-label">Fan</label>
            <div class="col-sm-offset-2">
                <div class="btn-group addon-form-group">

                    <label class="btn btn-default" v-bind:class="{ active:fan==0}">
                                        <input type="radio"  autocomplete="off"  v-model="fan" value="0">Auto
                                    </label>
                    <label class="btn btn-default" v-bind:class="{ active:fan==1}">
                                        <input type="radio"  autocomplete="off"  v-model="fan" value="1">1
                                    </label>
                    <label class="btn btn-default" v-bind:class="{ active:fan==2}">
                                        <input type="radio"  autocomplete="off"  v-model="fan" value="2" >2
                                    </label>
                    <label class="btn btn-default" v-bind:class="{ active:fan==3}">
                                        <input type="radio"  autocomplete="off"  v-model="fan" value="3" >3
                                    </label>
                    <label class="btn btn-default" v-bind:class="{ active:fan==4}">
                                        <input type="radio"  autocomplete="off" v-model="fan" value="4" >4
                                    </label>
                    <label class="btn btn-default" v-bind:class="{ active:fan==5}">
                                        <input type="radio"  autocomplete="off" v-model="fan" value="5" >5
                                    </label>
                    <label class="btn btn-default" v-bind:class="{ active:fan==6}">
                                        <input type="radio"  autocomplete="off" v-model="fan" value="6" >6
                                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" @click='send'>Send</button>

            </div>
        </div>
    </form>


</div>