
<div v-if="bindingSource.dataItems.length>0">
 <table class='table  table-bordered zero-margin table-striped'>
        <thead>
            <tr>
                <th v-for="column in columns" @click='bindingSource.sortBy(column.name)'>
                    <span> {{column.header}}{{ bindingSource.sortColumn===column.name? bindingSource.sortOrder[column.name]<0 ?'&#9663':'&#9653':''}}</span>
                </th>
                    <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in  paginator.dataItems" :class="item === bindingSource.current?'active':''">
                <td v-for="column in columns" @click="bindingSource.current=item">
                    {{item[column.name]}}
                </td>
                <td @click=" deleteSchedule(item)"><span style="color:red;cursor:pointer">x</span></td>
            </tr>
            
            <tr v-for="n in paginator.pageSize-paginator.dataItems.length">
                <td v-for="column in columns">
                    &nbsp
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <paginator :paginator="paginator"></paginator>
   
</div>