
/*@import url('/lib.bootstrap/css/bootstrap.min.css');*/
 
 /**,.btn {
   font-size: 16px;
  
}*/
 
 .bold {
     font-weight: bold;
 }
.addon-form-group input[type="radio"] {
    display: none;
}
  
.addon-form-group input[type="checkbox"] {
    display: none;
} 
.addon-form-group {
    /*padding-left: 15px !important;*/
    padding-right: 15px !important;
}

.margin-top{
    margin-top:10px;
}
.notification-position {
    position: fixed;
    top: 0px;
    margin-bottom: 0px;
    right: 0px;
    z-index: 9999;
}

thead th {
    background-color:cornflowerblue;
    color: white;
}

.zero-margin{
    margin-top: 0px;
    margin-bottom: 0px;
}
 
.command-title{
    width:60px;
    cursor:initial;
    font-weight: bold;  
}

.command-label{
    width:50px;
    cursor:initial; 
}
.btn-radio {
    opacity: 0.65;
}
.btn-radio.active{
    opacity: 1;
}

/*
@media only screen and (max-height: 600px) {
    canvas {
       height:250px;
    }
}

@media only screen and (min-height:601px) and (max-height: 1000px) {
   
    canvas{
       height:400px ;
    }
}

*/
