
/*@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');*/
 .bold {
     font-weight: bold;
 }
.addon-form-group input[type="radio"] {
    display: none;
}
  
.addon-form-group input[type="checkbox"] {
    display: none;
} 
.addon-form-group {
    /*padding-left: 15px !important;*/
    padding-right: 15px !important;
}

.margin-top{
    margin-top:10px;
}
.notification-position {
    position: fixed;
    top: 0px;
    margin-bottom: 0px;
    right: 0px;
    z-index: 9999;
}

thead th {
    background-color:cornflowerblue;
    color: white;
}

.zero-margin{
    margin-top: 0px;
    margin-bottom: 0px;
}
.command .btn {
    min-width: 60px;
}