<div>


    <div style="padding-bottom: 10px">
        <canvas id="realTimeChart"></canvas>
    </div>
    <div class="input-group col-sm-3">
        <span class="input-group-addon">From</span>
        <input type="date" class="form-control" v-model="fromDate">
        <span class="input-group-addon">To</span>
        <input type="date" class="form-control" v-model="toDate">
        <span class="input-group-addon btn" @click="loadDailyChart">Daily</span>   
        <span class="input-group-addon btn" @click="loadHourlyChart">Hourly</span>       
    </div>
    <div>
        <canvas id="dailyChart"></canvas>
    </div>
</div>